body {
  background-color: bisque;
  max-width: 1400px; 
  margin-top: 90px; 
  padding: 0 150px; 
}

.navbar {
  background-color:#eeba91;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  box-shadow: 1px 2px 3px rgb(242 116 0 / 85%);
}
.nav-wordly {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-left {
  align-items: center;
}

.nav-center {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-right: 100px;
}

.nav-right {
  display: flex;
  align-items: center;
}


.nav-logo {
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 120px;
  font-family: fantasy;
}

.nav-emoji {
  font-size: 2rem;
}

.nav-list {
  display: flex;
  gap: 1rem;
  margin-left: 1rem; 
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  padding: 10px 10px;
  background-color: bisque;
  border-radius: 20px;
}

.nav-link:hover {
  color: #ff9900;
  transform: scale(1.05);
}
.nav-contact .nav-link {
  color: #db9d69;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-contact .nav-link:hover {
  color: #ff9900;
}
.nav-contact {
  margin-left: auto; 
}

.nav-contact .nav-link {
  color: #db9d69;
  font-weight: bold;
  transition: color 0.3s;
}

.home-container {
  text-align: center;
  padding: 6rem 2rem;
  background-color: var(--bg);
  color: var(--text);
  max-width: 700px; 
  margin: 0 auto;
}
.home-paragraph {
  font-family: fantasy;
  font-size: inherit;
}

.home-image {
  text-align: center;
}

.home-image img {
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, filter 0.3s;
  opacity: 0.9;
  border: ridge;
  width: 400px;
  height: 300px;
}

.home-title {
  font-size: 2.5rem;
  font-family: fantasy;
  color: chocolate;
}

.home-description {
  font-size: 1.2rem;
  font-family: fantasy;
  color: #000000;
}

.single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  margin: 0 auto; 
  max-width: 600px; 
  padding: 20px;
}

.shared-btn-style {
  background-color: #e2794b;
  color: beige; 
  padding: 10px 20px; 
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px; 
}

.posth2 {
  font-size: 24px;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.post-locations {
  list-style: none;
  padding: 0;
}
.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-container {
  flex: 1; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-images {
  display: flex; 
  justify-content: flex-start;
  gap: 10px; 
}

.post {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.post-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  margin-bottom: 1rem;
}


.location {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.locations-grid {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
  grid-template-rows: repeat(2, 200px); 
  gap: 20px;

}
.logo {
  width: 150px;
  height: 150px; 
  margin-left: 10px;
}


.country-name {
  flex: 1;
}

.location-card {
  border: 1px solid #e2794b;
  padding: 20px;
  background-color: #f9a14b4d;
  border-radius: 30px;
  text-align: center;
}

.location-card a {
  color: #6f4d25;
  font-size: x-large;
  font-weight: bold;
  font-family: fantasy;
}

.post-link {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px; 
  transition: color 0.3s;
}

.post-link:hover {
  color: #ff9900;
}
.post:hover {
  background-color: beige;
  transition: background-color 0.3s;
}
.all-posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: var(--bg); 
  color: var(--text); 
  padding-top: 80px;
}

.home-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.home-link:hover {
  background-color: #ff6600;
  transform: scale(1.05);
}

.locations-div {
  margin-top: 150px;
}

.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.country-card {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.country-card a:hover {
  color: #ff9900;
}

.country-card a {
  color: #6f4d25;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.country-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/* Styling for the country name heading */
.locations-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.locations-container {
  margin-top: 100px;
  padding: 20px;
  background-color:#f0813045;
  box-shadow: 2px 2px;
  font: message-box
}

/* DECORATING CREATE FORM */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center; 
  margin: 0 auto; 
  max-width: 600px; 
  margin-right: 400px;
}

form {
  width: 100%; 
  max-width: 600px;
  padding: 20px;
  background-color: #ffd8a7;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: bisque;
  color: #020202;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffcc99;
}
